#Lista De Archivos/Carpetas a ignorar
Backend/node_modules/
Backend/.env
Backend/.env.local
Backend/.env.production
Backend/.DS_Store
Backend/Thumbs.db
Backend/dist/
Backend/build/
Backend/.cache/